.bx-error-circle:before{
    content:url('../images/icon-error.svg') !important;
    padding: 0 4px 0 16px;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext{
    font-size: 14px;
}
.btn-dark.focus, .btn-dark:focus {
    box-shadow: none !important;
}

.form-check-inline{
    margin-right: 0px !important;
}

.form-check-inline-grados{
    margin-right: 15px !important;
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}
.alert-danger {
    background-color: #FEEFEF;
}
.alert {
    padding: .2rem;
    font-size: 12px;
    border: 1px solid #DA1414;
    display: flex;
    align-items: center;
    margin-top: 6px !important;
}
.btn {
    font-weight: 600;
}
label {
    font-weight: 500;
}
@media only screen and (min-width: 1025px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1440;
    } 
}
@media only screen and (max-width: 1024px){
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
}
.container-scroller {
    background: #2ab7ca;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*nav#scroller {
    min-width: 320px;
    width: 60%;
}*/
.btn-dark:hover {
    color: #fff;
    background-color: #24a2bd;
    border-color: #24a2bd;
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1D869C;
    border-color: #1D869C;
}

.btn-disable {
    background-color: #9A9FA6 !important;
    border-color: #9A9FA6 !important;
}

.n_final{
    position: relative !important;
    background-color: transparent !important;
}

#formRegistro{
    margin-bottom: 0px !important;
}

.n_check {
    width: 16px;
    margin-left: 8px;
    position: absolute;
    top: 7px;
}
.n_combo-check {
    position: relative;
    display: inline-block;
    height: 37px;
    margin-right: 14px;
}
.n_combo-check--mobile {
    position: relative;
    display: inline-block;
    margin-right: 14px;
}

/*modificado de 998 a 766*/
@media only screen and (max-width: 766px) {
    .n_final_subtitle{
        font-weight: 500 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .n_mobile_inic{
        min-height: 100vh !important;
    }
}
@media only screen and (max-width: 998px) {
    #d-mob{
        display: none;
    }
}




.bg_fondo{
    background-image: url("/images/fullhd.jpg");
}
.n_felicidades{
    font-weight: 700 !important;
    font-size: 26px !important;
    line-height: 32px !important;
}
.n_mb36{
    margin-bottom: 36px !important;
}
.n_mb-45{
    margin-bottom: 45px !important;
}
.n_left_arrow{
    width: 10px;
}


.form-control:focus{
    box-shadow: none !important;
    border: 2px solid #2AB7CA;
    border-radius: 3px im !important;
}
.n_selector:focus{
    box-shadow: none !important;
    border: 2px solid #2AB7CA !important;
}

.n_font_600{
    font-weight: 600;
}
.n_font_500_16{
    font-size: 16px !important;
    font-weight: 500 !important;
}

.n_link{
    text-decoration: underline;
    line-height: 18px !important;
    color: #53B6FB !important;
    font-weight: 600;
}
.n_link:hover{
    color: red !important;
}

.n_label_size{
    font-size: 14px !important;
}

.custom-select{
    height: 50px;
}
.n_inputs_height{
    height: 50px !important;
    color: #09101D;
    vertical-align:middle !important;
}

.n_unselectable{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.n_icon_down{
    width: 10px;
    height: 10px;
}
.n_icon_check{
    background-image: url("../images/check-solid.svg") !important;
    background-size: 20px;
}

.custom-select--fixed{
    background-image: url("../images/caret-down-solid.svg") !important;
    background-size: 16px;
}

@media only screen and (max-width: 998px) {
    .custom-select--fixed{        
        background-size: 10px;
    }
}


.n_customdown{
    color: #858C94 !important;
}

.n_labels_weight{
    font-weight: 600 !important;
}
.buttons_padding{
    padding: 12px !important;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}
.form-check.active {
    border: 1px solid transparent;
}

.n_form-button--options.active {
    background-color: #2ab7ca !important;
    color: white;
    font-weight: 600 !important;
    border: 1px solid transparent;/*add*/
    max-height: 44px; /*add*/
}

.active::before{
    background-image: url('http://placehold.it/16x16');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 20px;
    width: 20px;
    height: 20px;
}


html {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
.pad-fn{
    padding-top: 65px;
}

.n_arrow-left2{
    background-image: url("data:image/svg+xml,%0A%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-left' class='svg-inline--fa fa-angle-left fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='white' d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z'%3E%3C/path%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    background-repeat: no !important;
}
/*.box_res{
    width: 500px;
}*/
@media only screen and (max-width: 998px) {
    .box_res{
        width: 100%;
    }
    .container-text-box {
        font-size: 14px !important;
    }
    .mobile-p{
        padding: 0px !important;
    }
}

.n_mx-5{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

@media only screen and (max-width: 998px) {
    .n_navbar{
    display: block;
    background-color: #2ab7ca;
    }
}
.navbar_mobile{
    display: none;
}
@media only screen and (max-width: 998px) {
    .navbar_mobile{
        
    }
}
.n_desktop{
    display: flex;
}
@media only screen and (max-width: 998px) {
    .n_desktop{
        display: none;
    }
}

label.label_aceptar_acuerdo{
    margin-right: 0px;
    padding: 0px 0px;
    border-radius: 25px;
}
label.form-check-label {
    margin-right: 0px;
    padding: 10px 21px;
    /* padding: 0px 0px; */
    border-radius: 25px;
}
@media only screen and (max-width: 998px) {
    label.form-check-label {
        padding: 8px 10px;
    }
}
#password:placeholder {
    color: #ececec;
    opacity: 60%;
}
input,
input::-webkit-input-placeholder {
    font-size: 14px !important;
}
.n_linea {
    background-color: #ddeaef;
    height: 1px;
    margin-bottom: 30px;
}

.n_section_box {
    width: auto !important;
}
.n_input {
    border-top: none;
    border-left: none;
    border-right: none;
}
.n_input:focus {
    box-shadow: none !important;
}
.n_180 {
    width: 190px;
}
.n_sections_size{
    width: auto !important;
}
.n_check_box{
    width: 14px;
}


.n_title_grade {
    margin-bottom: 20px;
    color: black;
    font-family: Montserrat;
    font-style: Medium !important;
    font-size: 16px;
    line-height: 24px;
    text-align: Left;
    vertical-align: top;
}

::placeholder {
    color: #575757;
    font-size: 14px;
    opacity: 60%;
}

body {
    font-family: Montserrat;
    background-color: #ececec
}

.wh-0 {
    width: 0px !important;
    height: 0px !important;
}

.n_continer-header {
    margin-top: 30px;
    margin-bottom: 35px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.n_container-image-banner {
    width: 225px;
    margin-bottom: 25px;
}
.container-image {
    width: 100%;
}
.container-image > img {
    width: 100%;
}
.n_title {
    width: 230px;
    font-family: Montserrat;
    font-style: Bold !important;
    font-size: 26px;
    line-height: 32px;
    vertical-align: top;
    margin-bottom: 25px;
    color: white;
}
.n_description {
    width: 230px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: Left;
    vertical-align: Top;
    margin-bottom: 25px;
    color: white;
}
.n_elipse {
    width: 32px;
}
.n_check {
    width: 16px;
    margin-left: 8px;
    position: absolute;
    top: 7px;
}
.n_combo-check {
    position: relative;
    display: inline-block;
    height: 37px;
    margin-right: 14px;
}
.n_combo-check--mobile {
    position: relative;
    display: inline-block;
    margin-right: 14px;
}
.n_combo-text {
    height: 32px;
    display: inline-block;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    line-height: 100%;
    vertical-align: Top;
    color: white;
}
.n_space-line-checks {
    padding-bottom: 13px;
    padding-top: 13px;
}
.container-text {
    font-family: Montserrat;
    font-style: normal !important;
    font-size: 14px;
    
    font-weight: 600;
    text-align: center;
    color: white;
}
.n_form-title {
    margin-bottom: 10px;
    color: black;
    font-family: Montserrat;
    font-size: 26px;
    line-height: 32px;    
    vertical-align: top;
}
.n_form-subtitle {
    margin-bottom: 30px;
    color: black;
    font-family: Montserrat;
    font-style: Medium !important;
    font-size: 16px;
    line-height: 24px;
    /*align: Left;*/
    vertical-align: top;
}
.n_mobile{
    display: none;
}
@media only screen and (max-width: 998px) {
    .n_mobile{
        display: block;
        height: 100vh;
    }
}

.boxcodie{
    width: calc( 100% - 160px); 
    display: inline-block;
}
@media only screen and (max-width: 998px) {
    .boxcodie{
        width: 100%;
        margin-bottom: 20px;
    }
}

.n_form_text {
   /* margin-top: 95px;
    margin-left: 100px;
    margin-bottom: 95px;*/
    margin: 95px;
}
@media only screen and (max-width: 998px) {
    .n_form_text {
        margin-top: 15px;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 15px;
    }
}

.n_bg-primary {
    background: #2ab7ca;
}
.n_100vh {
    min-height: 100vh;
}
.n_button-consult {
    width: 136px;
    height: 48px;
}
.n_button-consult {
    display: inline-block;
}
#codieMaster {
    display: flex;
}

.admiration_sign {
    height: 18px;
    width: 18px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 13px;
    margin-right: 4px;
}

.n_form-textbox-1 {
    background-color: #f4f9fb;
    padding: 15px 15px 12px 15px;
    margin-bottom: 25px;
}
.n_form-textbox-2 {
    background-color: #f4f9fb;
    padding: 15px 15px 5px 15px;
    margin-bottom: 25px;
}

.n_date {
    width: 100%; /*cambio de 170px a 100%*/
    margin-right: 25px;
}
.n_date2 {
    width: 100%;
}
@media only screen and (max-width: 998px) {
    .n_date {
        margin-right: 5px;
    }
}

.n_form-button {
    border-radius: 32px;
    background: black;
    padding: 12px 16px;
}

.n_form-button--options {
    background-color: white;
    border-radius: 32px;
    padding: 7px;
    color: black;
    border: 1px solid #858c94;
}

.n_form-button-options--variant1 {
    margin-right: 0px !important;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid #858c94;
}

.input-group > .form-check {
    cursor: pointer;
}
.input-group > .form-check > .form-check-label {
    cursor: pointer;
}

.n_form-subtitle-2 {
    font-family: Montserrat;
    font-style: SemiBold !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: Left;
    vertical-align: top;
    color: black;
    margin-bottom: 15px;
}
@media only screen and (max-width: 998px) {
    .n_form-subtitle-2 {
        margin-top: 30px;
    }
}


.slide-animate-container {
    position: relative;
    background: white;
    border: 1px solid black;
    height: 40px;
    overflow: hidden;
}

.slide-animate {
    padding: 10px;
}

.slide-animate.ng-enter,
.slide-animate.ng-leave {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 10px;
}

.slide-animate.ng-enter {
    top: -50px;
}
.slide-animate.ng-enter.ng-enter-active {
    top: 0;
}

.slide-animate.ng-leave {
    top: 0;
}
.slide-animate.ng-leave.ng-leave-active {
    top: 50px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #F4F9FB;
    margin: auto;
    border: none !important;
    width: 636px !important;
}
div#myModal {
    background-color: white;
}
@media only screen and (max-width: 998px) {
    .modal-content {
        width: 91% !important;
    }
}

.diagonal-bg {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

.n_final-box {
    max-width: 305px;
}

.container-text-box {
    max-width: 445px;
    border-bottom: 1px solid #c4c4c4;
    font-size: 14px;
}
.n_box3 {
    max-width: 257px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
  }
  
  #body_div {
    top: 0;
    position: relative;
    height: 200px;
    background-color: green;
  }
  
  #banner {
    width: 100%;
    height: 273px;
    background-color: gray;
    overflow: hidden;
  }
  
  #nav_bar {
    border: 0;
    background-color: #202020;
    border-radius: 0px;
    margin-bottom: 0;
    height: 30px;
  }

  #image {
    width: 100%;
    background: #444;
    height: 50px;
}
#scroller{
    height:65px;
    margin-left: -15px;
    margin-right: -15px;
    display: none !important;
    vertical-align: middle;
}
@media only screen and (max-width: 998px) {
    #scroller{
        height:65px;
        margin-left: -15px;
        margin-right: -15px;
        display: flex !important;
        vertical-align: middle;
    }
}

.stuck{
    position:fixed;
    z-index:100;
    width:100%;
    top:0;
}

.input_seccion{
    border-radius: .25rem;
}

